html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  overflow-y: auto;
}
header {
  z-index: 999;
  position: fixed;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items:center;
  font-weight: bolder;
  font-size: 20px;
  height: 50px;
  width: 100%;
  background-color: #eee;
}

main {
  z-index: 2;
  margin-top: 80px;
  margin-bottom: -56px;
  &:after {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url('https://t.kfs.io/upload_images/64042/1000x525_kktixCover_large.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    opacity: .5;
  }
}

.line {
  display: flex;
  margin: 5px;
  margin-bottom: 15px;
  .photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .message {
    position: relative;
    max-width: 80%;
    padding: 10px 16px;
    border-radius: 16px;
    font-size: 20px;
    word-break: break-all;
    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      top: 6;
      border: 10px solid;
      border-color: #ddd #ddd transparent transparent;
    }
  }
}

.line.left_line {
  justify-content: flex-start;
  .photo {
    margin-right: 10px;
  }
  .message {
    background-color: #ddd;
    color: black;
    &:before {
      left: -8px;
      border-color: #ddd #ddd transparent transparent;
    }
  }
}

.line.right_line {
  justify-content: flex-end;
  .photo {
    margin-left: 10px;
  }
  .message {
    background-color: #2a92e5;
    color: white;
    &:before {
      right: -8px;
      border-color: #2a92e5 transparent transparent #2a92e5;
    }
  }
}
